<div class="container">
  <ul class="breeds">
    <% @breeds.each do |key, value| %>
      <li>
        <%= link_to key, breed_path(key) %>
        <% unless value.blank? %>
          <ul class="sub-breeds">
            <% value.each do |value_item| %>
              <li>
                <%= link_to value_item, breed_path("#{key}--#{value_item}") %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="dog">

    <h1>It's a dog</h1>

    <h3><%= @breed.name.humanize %></h3>

    <%= image_tag @breed.pic_url %>

  </div>
</div>
