// Place all the styles related to the breeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
}

.breeds {
  color: white;

  a {
    color: white;

    &:hover {
      color: rgb(159, 124, 124);
    }
  }
}

.dog {
  flex-grow: 1;
  text-align: center;

  img {
    width: 400px
  }
}
